// Customize bootstrap scss

$font-family-sans-serif:    "Open Sans", sans-serif;
$headings-font-family:      Raleway, sans-serif;
$headings-font-weight:      300;

$display4-size:             2.5rem;
$display4-weight:           300;

$brand-primary:             #ffeb3b;
$brand-inverse:             white;

$link-color:                #673ab7;

$jumbotron-bg:              $brand-primary;

$btn-primary-color:         black;
$btn-inverse-bg:            black;
$btn-inverse-color:         $brand-inverse;