@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "buttons";
@import "loader";

html, body, #root {
    height: 100%;
    margin: 0;
    position: relative;
    padding: 0;
}

#root {
    display: flex;
    flex-flow: column nowrap;
}

.landing {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;

    > .landing-hero {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        justify-content: center;

        > .landing-text {
            align-self: center;
            flex: 0 1 480px;
            margin: 20px;

            > .lead {
                font-family: Raleway, sans-serif;
                font-size: 1.5rem;
                font-weight: 300;
            }
        }

        > .screenshot {
            align-self: stretch;
            flex: 1 1 480px;
            max-width: 560px;
            min-height: 600px;
        }

        @media only screen and (min-width: 480px) {
            padding: 0 30px;
        }
    }

    > .nav-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        > .navbar {
            flex: 0 1 1110px;
        }
    }
}

.docs {
    .doc-nav {
        font-weight: bold;        
        h2 { font-weight: bold; font-family: "Open Sans", sans-serif; font-size: 1.1rem; }
    }

    .document {
        position: relative;
        .loader {
            margin: 0;
            transform: scale(0.5);
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.navbar {
    margin: 2rem 0;

    .nav-link {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}